*.deb
*.html
*.log
*.retry
*.rpm
*suid.list
.ansible/
.cache
.claude/settings.local.json
.docker
.env
.env.yml
.nox
.scannerwork
.sonar
.tox
.vagrant
.venv
.yamllint
ansible.cfg
ansible_collections
drafts/*
hosts
molecule/default/inventory/host_vars/*/connection.yml
